.header{
    display: flex;
    &__image-container--top{
        width: 40px;
        height: 40px;
        border-radius: 50% 50%;
        background-image: url("../../assets/images/images/Mohan-muruge.jpg");
        object-fit: cover;
        background-size: cover;
        display: none;
    }
    &__image-container--bottom{
        width: 40px;
        height: 40px;
        border-radius: 50% 50%;
        background-image: url("../../assets/images/images/Mohan-muruge.jpg");
        object-fit: cover;
        background-size: cover;
    
    }

}